Microsoft.Flow/flows/f6348b82-cb60-45aa-9d1c-cc3a51cf7e0e/definition.json
{"name":"204ed01f-b749-47fb-92a7-676b7ea93d50","id":"/providers/Microsoft.Flow/flows/204ed01f-b749-47fb-92a7-676b7ea93d50","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"SiteAutomation","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"BillingConsumption","flowclientsuspensiontime":"2021-09-22T01:36:49.8702026Z","creator":{"id":"ad261a4c-a21d-495b-8b81-4d723f28b87a","type":"User","tenantId":"405cab91-a718-4300-85d8-220572b427a2"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-09-18T22:02:10.6031287Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":3},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://ntgfreight.sharepoint.com/sites/training-hub","table":"c4ecc587-0603-45d4-bd47-f56212096497"},"authentication":"@parameters('$authentication')"}}},"actions":{"HTTP":{"runAfter":{"Create_item_4":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://ntg.azurewebsites.net/api/HttpTrigger1?code=s0n2oLEZKufxyE0iRks/hqjFnvYCBtcLh13CQrIWDcGUvzpIXZk1qg==","retryPolicy":{"type":"none"}}},"Delay":{"runAfter":{"HTTP":["Succeeded","TimedOut","Failed","Skipped"]},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Minute"}}},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Numberofsites","type":"integer","value":0}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TrainingType","type":"string","value":"@triggerOutputs()?['body/SiteName']"}]}},"UniqueVariable":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Number","type":"integer","value":1}]}},"Do_until":{"actions":{"Create_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://ntgfreight.sharepoint.com/sites/training-hub","table":"6043140a-1ddb-44dd-8628-6dbc07bb1a39","item/Title":"@{variables('TrainingType')}-@{variables('Day')}@{variables('Number')}","item/Owners/Claims":"@triggerOutputs()?['body/SiteOwner/Email']","item/Members/Claims":"@triggerOutputs()?['body/SiteOwner/Email']","item/Status/Value":"Progress","item/URL":"sites/DT-@{variables('TrainingType')}-@{variables('Day')}@{variables('Number')}"},"authentication":"@parameters('$authentication')"}},"HTTP_2":{"runAfter":{"Create_item":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://ntg1.azurewebsites.net/api/HttpTrigger1?code=aX84DjwjGVaQwZxg65Wi8xLTPc96awLP1tH9jnrzuLea0jiwgeYNuw==","retryPolicy":{"type":"none"}}},"Delay_2":{"runAfter":{"HTTP_2":["Succeeded","Failed","Skipped","TimedOut"]},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Minute"}}},"Update_item":{"runAfter":{"Delay_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ntgfreight.sharepoint.com/sites/training-hub","table":"6043140a-1ddb-44dd-8628-6dbc07bb1a39","id":"@outputs('Create_item')?['body/ID']","item/Status/Value":"Created"},"authentication":"@parameters('$authentication')"}},"Increment_variable":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_4":["Succeeded","Failed","Skipped","TimedOut"]},"type":"IncrementVariable","inputs":{"name":"Numberofsites","value":1}},"Increment_variable_2":{"runAfter":{"Increment_variable":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"Number","value":1}},"Send_an_HTTP_request_to_SharePoint_3":{"runAfter":{"Delay_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://ntgfreight.sharepoint.com/sites/DT-@{variables('TrainingType')}-@{variables('Day')}@{variables('Number')}","parameters/method":"POST","parameters/uri":"_api/web/sitegroups(3)/users","parameters/headers":{"accept":"application/json;odata=verbose","content-type":"application/json;odata=verbose"},"parameters/body":"{\"__metadata\":{\"type\":\"SP.User\"},\"LoginName\":\"@{triggerOutputs()?['body/SiteOwner/Claims']}\"}"},"retryPolicy":{"type":"none"},"authentication":"@parameters('$authentication')"}},"Send_an_HTTP_request_to_SharePoint_4":{"runAfter":{"Delay_5":["Succeeded","Failed","Skipped","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://ntgfreight.sharepoint.com/sites/DT-@{variables('TrainingType')}-@{variables('Day')}@{variables('Number')}","parameters/method":"POST","parameters/uri":"_api/web/sitegroups(5)/users","parameters/headers":{"accept":"application/json;odata=verbose","content-type":"application/json;odata=verbose"},"parameters/body":"{\"__metadata\":{\"type\":\"SP.User\"},\"LoginName\":\"@{triggerOutputs()?['body/SiteMember/Claims']}\"}"},"retryPolicy":{"type":"none"},"authentication":"@parameters('$authentication')"}},"Delay_4":{"runAfter":{"Create_item_3":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Minute"}}},"Delay_5":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_3":["Succeeded","Failed","Skipped","TimedOut"]},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Minute"}}},"Create_item_3":{"runAfter":{"Update_item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://ntgfreight.sharepoint.com/sites/TS-@{variables('TrainingType')}","table":"DailyTraining","item":{"Title":"@{variables('TrainingType')}-@{variables('Day')}@{variables('Number')}","ChildURL":"https://ntgfreight.sharepoint.com/sites/DT-@{variables('TrainingType')}-@{variables('Day')}@{variables('Number')}"}},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_item_6":["Succeeded"]},"expression":"@equals(triggerOutputs()?['body/Number_x0020_of_x0020_Daily_x002'], variables('Numberofsites'))","limit":{"count":60,"timeout":"PT1H"},"type":"Until"},"DayConstant":{"runAfter":{"UniqueVariable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Day","type":"string","value":"Day"}]}},"Create_item_4":{"runAfter":{"DayConstant":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://ntgfreight.sharepoint.com/sites/training-hub","table":"154f4002-25c4-4731-b9aa-ae01ec228815","item/Title":"@triggerOutputs()?['body/SiteName']","item/SiteName":"@triggerOutputs()?['body/SiteName']"},"authentication":"@parameters('$authentication')"}},"Send_an_HTTP_request_to_SharePoint":{"runAfter":{"Delay":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://ntgfreight.sharepoint.com/sites/TS-@{variables('TrainingType')}","parameters/method":"POST","parameters/uri":"_api/web/sitegroups(3)/users","parameters/headers":{"accept":"application/json;odata=verbose","content-type":"application/json;odata=verbose"},"parameters/body":"{\"__metadata\":{\"type\":\"SP.User\"},\"LoginName\":\"@{triggerOutputs()?['body/SiteOwner/Claims']}\"}"},"retryPolicy":{"type":"none"},"authentication":"@parameters('$authentication')"}},"Send_an_HTTP_request_to_SharePoint_2":{"runAfter":{"Delay_3":["Succeeded","Failed","Skipped","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://ntgfreight.sharepoint.com/sites/TS-@{variables('TrainingType')}","parameters/method":"POST","parameters/uri":"_api/web/sitegroups(5)/users","parameters/headers":{"accept":"application/json;odata=verbose","content-type":"application/json;odata=verbose"},"parameters/body":"{\"__metadata\":{\"type\":\"SP.User\"},\"LoginName\":\"@{triggerOutputs()?['body/SiteMember/Claims']}\"}"},"retryPolicy":{"type":"none"},"authentication":"@parameters('$authentication')"}},"Delay_3":{"runAfter":{"Send_an_HTTP_request_to_SharePoint":["Succeeded","Failed","Skipped","TimedOut"]},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Minute"}}},"Create_item_6":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_2":["Succeeded","Failed","Skipped","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://ntgfreight.sharepoint.com/sites/training-hub","table":"1607c62d-4869-4a75-9cc6-ff7bea1d8937","item/Title":"@variables('TrainingType')","item/ParantSite":"https://ntgfreight.sharepoint.com/sites/TS-@{variables('TrainingType')}"},"authentication":"@parameters('$authentication')"}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"ede744ca5d9a4c4296716529dcb6b9ff","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}